body {
    background-color: floralwhite;
    padding: 10px;
    width: 97%;
    height: 97%;
    display: table-column;
}



img {
    max-width: 100%;
    height: auto;
    clip-path: circle(50%);
}